In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving House_Rent_Dataset (1).csv to House_Rent_Dataset (1).csv

In [54]:
df=pd.read_csv('House_Rent_Dataset (1).csv')

In [55]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [57]:
df['Point of Contact'].unique()

array(['Contact Owner', 'Contact Agent', 'Contact Builder'], dtype=object)

MISTAKES

In [58]:
# Posted on data type
# sepearate floor column
# 10 bathroom
# remove contact

In [59]:
df['Posted On']=pd.to_datetime(df['Posted On'])

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   datetime64[ns]
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: datetime64[ns](1), int64(4), object(7)
memory usage: 445.1+ KB

In [61]:
df

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

In [62]:
df['Floor'].str.split(' ').str.slice(0)

0       [Ground, out, of, 2]
1            [1, out, of, 3]
2            [1, out, of, 3]
3            [1, out, of, 2]
4            [1, out, of, 2]
                ...
4741         [3, out, of, 5]
4742         [1, out, of, 4]
4743         [3, out, of, 5]
4744       [23, out, of, 34]
4745         [4, out, of, 5]
Name: Floor, Length: 4746, dtype: object

In [63]:
df['Floor_start'] = df['Floor'].str[0]
df['Floor_total'] = df['Floor'].str[-1]

In [64]:
df=df.drop(columns='Floor')

In [65]:
df=df[~(df['Floor_total']=="d")]

In [66]:
df['Floor_start']=df['Floor_start'].str.replace('G','0')

In [67]:
df['Floor_start']=df['Floor_start'].replace({'U':'-1','L':'-2'})

In [69]:
df['Floor_start'].unique()

array(['0', '1', '2', '4', '3', '5', '7', '8', '-1', '-2', '6', '9'],
      dtype=object)

In [70]:
df['Floor_total']=df['Floor_total'].astype(int)
df['Floor_start']=df['Floor_start'].astype(int)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4745 entries, 0 to 4745
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4745 non-null   datetime64[ns]
 1   BHK                4745 non-null   int64
 2   Rent               4745 non-null   int64
 3   Size               4745 non-null   int64
 4   Area Type          4745 non-null   object
 5   Area Locality      4745 non-null   object
 6   City               4745 non-null   object
 7   Furnishing Status  4745 non-null   object
 8   Tenant Preferred   4745 non-null   object
 9   Bathroom           4745 non-null   int64
 10  Point of Contact   4745 non-null   object
 11  Floor_start        4745 non-null   int64
 12  Floor_total        4745 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 519.0+ KB

In [72]:
df.describe()

,Posted On,BHK,Rent,Size,Bathroom,Floor_start,Floor_total
count,4745,4745.000000,4.745000e+03,4745.000000,4745.000000,4745.000000,4745.000000
mean,2022-06-07 18:06:26.933614592,2.084089,3.499703e+04,967.599789,1.966070,1.950474,3.494837
min,2022-04-13 00:00:00,1.000000,1.200000e+03,10.000000,1.000000,-2.000000,0.000000
25%,2022-05-20 00:00:00,2.000000,1.000000e+04,550.000000,1.000000,1.000000,2.000000
50%,2022-06-10 00:00:00,2.000000,1.600000e+04,850.000000,2.000000,1.000000,3.000000
75%,2022-06-28 00:00:00,3.000000,3.300000e+04,1200.000000,2.000000,3.000000,4.000000
max,2022-07-11 00:00:00,6.000000,3.500000e+06,8000.000000,10.000000,9.000000,9.000000
std,NaN,0.832195,7.811425e+04,634.224656,0.884514,1.934823,1.951462

In [73]:
df[df['Size']>=8000]

,Posted On,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Floor_start,Floor_total
4185,2022-06-06,1,200000,8000,Super Area,"Beeramguda, Ramachandra Puram, NH 9",Hyderabad,Unfurnished,Bachelors/Family,10,Contact Owner,0,4

In [74]:
Q1 = df['Rent'].quantile(0.25)
Q3 = df['Rent'].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df['Rent'] < Q1 - 1.5*IQR) | (df['Rent'] > Q3 + 1.5*IQR)]
len(outliers)

520

In [75]:
lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR

df['Rent'] = df['Rent'].clip(lower, upper)

In [76]:
df.describe()

,Posted On,BHK,Rent,Size,Bathroom,Floor_start,Floor_total
count,4745,4745.000000,4745.000000,4745.000000,4745.000000,4745.000000,4745.000000
mean,2022-06-07 18:06:26.933614592,2.084089,24570.141834,967.599789,1.966070,1.950474,3.494837
min,2022-04-13 00:00:00,1.000000,1200.000000,10.000000,1.000000,-2.000000,0.000000
25%,2022-05-20 00:00:00,2.000000,10000.000000,550.000000,1.000000,1.000000,2.000000
50%,2022-06-10 00:00:00,2.000000,16000.000000,850.000000,2.000000,1.000000,3.000000
75%,2022-06-28 00:00:00,3.000000,33000.000000,1200.000000,2.000000,3.000000,4.000000
max,2022-07-11 00:00:00,6.000000,67500.000000,8000.000000,10.000000,9.000000,9.000000
std,NaN,0.832195,19927.501225,634.224656,0.884514,1.934823,1.951462

In [77]:
df[df['Bathroom']>=10]

,Posted On,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Floor_start,Floor_total
4185,2022-06-06,1,67500,8000,Super Area,"Beeramguda, Ramachandra Puram, NH 9",Hyderabad,Unfurnished,Bachelors/Family,10,Contact Owner,0,4

In [78]:
df = df[~((df['BHK'] == 1) & (df['Bathroom'] > 3))]
df = df[~((df['BHK'] == 1) & (df['Size'] > 2000))]

In [79]:
df.describe()

,Posted On,BHK,Rent,Size,Bathroom,Floor_start,Floor_total
count,4741,4741.000000,4741.000000,4741.000000,4741.000000,4741.000000,4741.000000
mean,2022-06-07 18:04:01.468044544,2.085003,24556.385362,965.665682,1.963932,1.950432,3.493989
min,2022-04-13 00:00:00,1.000000,1200.000000,10.000000,1.000000,-2.000000,0.000000
25%,2022-05-20 00:00:00,2.000000,10000.000000,550.000000,1.000000,1.000000,2.000000
50%,2022-06-10 00:00:00,2.000000,16000.000000,850.000000,2.000000,1.000000,3.000000
75%,2022-06-28 00:00:00,3.000000,33000.000000,1200.000000,2.000000,3.000000,4.000000
max,2022-07-11 00:00:00,6.000000,67500.000000,7000.000000,7.000000,9.000000,9.000000
std,NaN,0.831950,19919.638598,625.703851,0.876418,1.934876,1.951364

In [80]:
df['Point of Contact']=df['Point of Contact'].str.extract(r'(\w+)$')

In [81]:
df

,Posted On,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Floor_start,Floor_total
0,2022-05-18,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Owner,0,2
1,2022-05-13,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Owner,1,3
2,2022-05-16,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Owner,1,3
3,2022-07-04,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Owner,1,2
4,2022-05-09,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Owner,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Owner,3,5
4742,2022-05-15,3,29000,2000,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Owner,1,4
4743,2022-07-10,3,35000,1750,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Agent,3,5
4744,2022-07-06,3,45000,1500,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Agent,2,4
4745,2022-05-04,2,15000,1000,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Owner,4,5

In [82]:
df['Tenant Preferred'].unique()

array(['Bachelors/Family', 'Bachelors', 'Family'], dtype=object)

In [83]:
dummies = df['Tenant Preferred'].str.get_dummies(sep='/')

df['for_bachelor'] = dummies['Bachelors']
df['for_family'] = dummies['Family']

In [84]:
df

,Posted On,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Floor_start,Floor_total,for_bachelor,for_family
0,2022-05-18,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Owner,0,2,1,1
1,2022-05-13,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Owner,1,3,1,1
2,2022-05-16,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Owner,1,3,1,1
3,2022-07-04,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Owner,1,2,1,1
4,2022-05-09,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Owner,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Owner,3,5,1,1
4742,2022-05-15,3,29000,2000,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Owner,1,4,1,1
4743,2022-07-10,3,35000,1750,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Agent,3,5,1,1
4744,2022-07-06,3,45000,1500,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Agent,2,4,0,1
4745,2022-05-04,2,15000,1000,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Owner,4,5,1,0

In [85]:
df=df.drop(columns='Tenant Preferred')

In [86]:
df['Area Type'].unique()

array(['Super Area', 'Carpet Area', 'Built Area'], dtype=object)

In [87]:
df

,Posted On,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Bathroom,Point of Contact,Floor_start,Floor_total,for_bachelor,for_family
0,2022-05-18,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,2,Owner,0,2,1,1
1,2022-05-13,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,1,Owner,1,3,1,1
2,2022-05-16,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,1,Owner,1,3,1,1
3,2022-07-04,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,1,Owner,1,2,1,1
4,2022-05-09,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,1,Owner,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,2,Owner,3,5,1,1
4742,2022-05-15,3,29000,2000,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,3,Owner,1,4,1,1
4743,2022-07-10,3,35000,1750,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,3,Agent,3,5,1,1
4744,2022-07-06,3,45000,1500,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,2,Agent,2,4,0,1
4745,2022-05-04,2,15000,1000,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,2,Owner,4,5,1,0

In [88]:
df= pd.get_dummies(df,columns=['Point of Contact','Furnishing Status','Area Type'],drop_first=True)

In [89]:
df

,Posted On,BHK,Rent,Size,Area Locality,City,Bathroom,Floor_start,Floor_total,for_bachelor,for_family,Point of Contact_Builder,Point of Contact_Owner,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Area Type_Carpet Area,Area Type_Super Area
0,2022-05-18,2,10000,1100,Bandel,Kolkata,2,0,2,1,1,False,True,False,True,False,True
1,2022-05-13,2,20000,800,"Phool Bagan, Kankurgachi",Kolkata,1,1,3,1,1,False,True,True,False,False,True
2,2022-05-16,2,17000,1000,Salt Lake City Sector 2,Kolkata,1,1,3,1,1,False,True,True,False,False,True
3,2022-07-04,2,10000,800,Dumdum Park,Kolkata,1,1,2,1,1,False,True,False,True,False,True
4,2022-05-09,2,7500,850,South Dum Dum,Kolkata,1,1,2,1,0,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,Bandam Kommu,Hyderabad,2,3,5,1,1,False,True,True,False,True,False
4742,2022-05-15,3,29000,2000,"Manikonda, Hyderabad",Hyderabad,3,1,4,1,1,False,True,True,False,False,True
4743,2022-07-10,3,35000,1750,"Himayath Nagar, NH 7",Hyderabad,3,3,5,1,1,False,False,True,False,True,False
4744,2022-07-06,3,45000,1500,Gachibowli,Hyderabad,2,2,4,0,1,False,False,True,False,True,False
4745,2022-05-04,2,15000,1000,Suchitra Circle,Hyderabad,2,4,5,1,0,False,True,False,True,True,False

In [92]:
df=df.drop(columns='Posted On',errors='ignore')

In [93]:
df['City'].unique()

array(['Kolkata', 'Mumbai', 'Bangalore', 'Delhi', 'Chennai', 'Hyderabad'],
      dtype=object)

In [94]:

df = pd.get_dummies(df, columns=['City'], drop_first=True)

In [99]:
df['Area Locality'].nunique()

2232

In [102]:
df_1=df.drop(columns='Area Locality')

In [103]:
df_1

,BHK,Rent,Size,Bathroom,Floor_start,Floor_total,for_bachelor,for_family,Point of Contact_Builder,Point of Contact_Owner,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Area Type_Carpet Area,Area Type_Super Area,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai
0,2,10000,1100,2,0,2,1,1,False,True,False,True,False,True,False,False,False,True,False
1,2,20000,800,1,1,3,1,1,False,True,True,False,False,True,False,False,False,True,False
2,2,17000,1000,1,1,3,1,1,False,True,True,False,False,True,False,False,False,True,False
3,2,10000,800,1,1,2,1,1,False,True,False,True,False,True,False,False,False,True,False
4,2,7500,850,1,1,2,1,0,False,True,False,True,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2,15000,1000,2,3,5,1,1,False,True,True,False,True,False,False,False,True,False,False
4742,3,29000,2000,3,1,4,1,1,False,True,True,False,False,True,False,False,True,False,False
4743,3,35000,1750,3,3,5,1,1,False,False,True,False,True,False,False,False,True,False,False
4744,3,45000,1500,2,2,4,0,1,False,False,True,False,True,False,False,False,True,False,False
4745,2,15000,1000,2,4,5,1,0,False,True,False,True,True,False,False,False,True,False,False

In [104]:
bool_cols = df.select_dtypes('bool').columns
df[bool_cols] = df[bool_cols].astype(int)

In [105]:
bool_cols = df_1.select_dtypes('bool').columns
df_1[bool_cols] = df_1[bool_cols].astype(int)

In [106]:
df_1

,BHK,Rent,Size,Bathroom,Floor_start,Floor_total,for_bachelor,for_family,Point of Contact_Builder,Point of Contact_Owner,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Area Type_Carpet Area,Area Type_Super Area,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai
0,2,10000,1100,2,0,2,1,1,0,1,0,1,0,1,0,0,0,1,0
1,2,20000,800,1,1,3,1,1,0,1,1,0,0,1,0,0,0,1,0
2,2,17000,1000,1,1,3,1,1,0,1,1,0,0,1,0,0,0,1,0
3,2,10000,800,1,1,2,1,1,0,1,0,1,0,1,0,0,0,1,0
4,2,7500,850,1,1,2,1,0,0,1,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2,15000,1000,2,3,5,1,1,0,1,1,0,1,0,0,0,1,0,0
4742,3,29000,2000,3,1,4,1,1,0,1,1,0,0,1,0,0,1,0,0
4743,3,35000,1750,3,3,5,1,1,0,0,1,0,1,0,0,0,1,0,0
4744,3,45000,1500,2,2,4,0,1,0,0,1,0,1,0,0,0,1,0,0
4745,2,15000,1000,2,4,5,1,0,0,1,0,1,1,0,0,0,1,0,0

In [107]:
X=df_1.drop('Rent',axis=1)
y=df_1['Rent']

In [108]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [109]:
from sklearn.linear_model import LinearRegression

lr= LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [111]:
y_pred = lr.predict(X_test)

In [112]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print("R2 score:", r2)

R2 score: 0.8006942637529608